.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .game-selector-topbar {
  }
  .game-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    p {
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 4px;
      margin-top: 0;
      color: #ffffff;
      &.joke-punchline-text {
        font-size: 16px;
        margin-top: 12px;
        margin-bottom: 10px;
      }
    }

    div.dvd-container {
      overflow: hidden;
    }

    .blackjack-container {
      display: flex;
      flex-direction: column;
      color: #fff;
      padding: 20px;
      border-radius: 10px;

      .player-hand,
      .dealer-hand {
        display: flex;
        flex-direction: row;
        gap: 6px;
        margin-top: 10px;
        align-self: center;
      }

      span {
        font-size: 24px;
        margin: 0;
        &.game-status {
          margin-bottom: 16px;
        }
      }

      .cards {
        display: flex;
      }

      .card {
        margin: 6px 6px;
        font-size: 128px;
        height: 116px;
        background-color: #ffffff;
        letter-spacing: -3px;
        text-indent: -3px;
        line-height: 100px;

        &.clubs {
          color: #000;
        }
        &.hearts {
          color: rgb(202, 58, 58);
        }

        &.diamonds {
          color: rgb(202, 58, 58);
        }

        &.spades {
          color: #161616;
        }

        &.hidden {
          color: #315b83;
        }
      }
    }
    .minesweeper-container {
      .minesweeper-difficulty {
        background-color: #333;
        color: #fff;
        border: 1px solid #444;
        border-radius: 5px;
        padding: 0.5rem;
        font-size: 1rem;
        transition: all 0.3s ease;
        margin: 6px;

        &:hover {
          border-color: #666;
        }

        &:focus {
          border-color: #999;
          outline: none;
        }
      }
      .minesweeper-tile {
        width: 20px;
        height: 20px;
        border: 1px solid #444;
        text-align: center;
        line-height: 20px;
        font-weight: bold;
        border-radius: 3px;
        transition: background-color 0.3s ease;

        &.mine {
          background-color: #f44336;
        }
        &.clear {
          background-color: #6abf47;
        }
        &.unrevealed {
          background-color: #9b9b9b;
          color: #fff;
        }
      }
    }
    .whack-container {
      .score-container {
        width: 250px;
        display: flex;
        justify-content: space-between;
      }
      .function-button-container {
        display: flex;
        justify-content: space-between;
      }
      .mole-button {
        width: 80px;
        height: 80px;
        background-color: #4caf50; // background color when no mole (green)
        border: none;
        border-radius: 50%;
        cursor: pointer;
        margin: 10px;
        font-size: 36px;
        transition: background-position 0.4s ease; // animate background-color change
        background-image: linear-gradient(
            to bottom,
            #4caf50 50%,
            transparent 50%
          ),
          linear-gradient(to bottom, transparent 50%, #4caf50 50%),
          url("../public/mole.png");
        background-size: 100% 200%, 100% 200%, cover;
        background-position: 0% 0%, 100% 0%, 0% 100%; // position the mole image under the green background
        &.has-mole {
          background-color: #0f0f0f; // background color when has mole
          background-position: 0% 100%, 0% 0%, 0% 0%; // move the gradients to show the new color and reveal the mole image
          transition: background-position 0.4s ease; // animate the background position change
        }
      }
    }
    img {
      max-width: 100%;
      max-height: 90%;
      object-fit: contain;
    }
  }
}
