div.haddock-container {
    p.quote-text {
        font-size: 20px; // Increase font size for punchline text
        font-weight: normal; // Keep punchline text normal weight
        margin-bottom: 30px; // Add margin for better spacing
        color: #FFFFFF; // Set text color to white for dark mode
    }
    .image-container {
        position: relative; // Position the image relative to its container
        
        &::after {
            content: "Click image to get a new quote"; // Add text to the image
            position: absolute; // Position the text absolutely within the image
            bottom: 35px; // Increase the distance from the bottom of the image
            left: 50%; // Center the text horizontally
            transform: translateX(-50%); // Adjust the position for accurate centering
            font-size: 16px; // Set the font size of the text
            font-weight: bold; // Set the font weight of the text
            color: #FFFFFF; // Set the text color to white for visibility
            background-color: rgba(0, 0, 0, 0.7); // Add a semi-transparent black background for better visibility
            text-shadow: 2px 2px 4px #000000;
            padding: 5px; // Add padding around the text
            border-radius: 5px; // Add rounded corners to the text background
            pointer-events: none; // Make the image text click-through
        }
    }
}